*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html {
	color: #4b5157;
	font-family: 'Lato', sans-serif;
	font-style: 14px;
	line-height: 20px;
	/* font-family: 'Roboto', sans-serif;*/
}

a {
	text-decoration: none;
	transition: .3s;
}

.container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}

.btn {
	border: none;
	background: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
	box-shadow: 3px 3px 5px 0 rgb(70, 70, 70);
}

.btn--primary {
	padding: 10px 20px;
	background: #4592ff;
	border-radius: 20px;
	color: #fff;
	font-weight: 900;
}

.btn__cart {
	position: relative;
	background-image: url('../img/Cart.svg');
	background-repeat: no-repeat;
	background-position: left 20px center;
	padding-left: 50px;

}

.btn__cart::before {
	content: '';
	position: absolute;
	background-image: url('../img/Cart.svg');
	background-repeat: no-repeat;
}

.header {
	padding: 15px 0;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu__item {
	margin-right: 30px;
}

.menu__item:last-child {
	margin-right: 30px;
}

@keyframes rgb {
	to{
		transform: rotate(360deg);
	}
}

.logo__img:hover{
	animation: rgb;
	animation-duration: .3s;
	animation-timing-function: linear;
}


.menu__list {
	display: flex;
	align-items: center;
}

.menu__item-link {
	font-weight: 900;
	color: #939699;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: .3s;
}

.menu__item-link:hover {
	color: #4a4b4b;
}


.hero {
	padding: 90px 0 100px;
	background-image: url('../img/noga.png');
	background-repeat: no-repeat;
	background-color: #b4d1e0;
	background-position: right 300px center;
}

.hero__inner {
	display: flex;
	align-items: center;
	position: relative;
}

.hero__content {
	padding-left: 100px;
}

.tag {
	display: inline-block;
	padding: 5px 12px;
	background-color: #3dc47e;
	border-radius: 3px;
	font-style: 12px;
	line-height: 15px;
	color: #fff;
	margin-bottom: 25px;
}

.hero__title {
	font-size: 55px;
	line-height: 70px;
	color: #262d33;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.hero__desc {
	max-width: 335px;
	font-style: 18px;
	line-height: 30px;
	margin-bottom: 40px;
}

.hero__btn {
	padding: 13px 30px;
}

.hero__btn span {
	margin-right: 10px;
}

.btn__slider--left,
.btn__slider--right {
	position: relative;
}

.btn__slider--left::before,
.btn__slider--right::before {
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0;
	right: 0;
	opacity: 0.4;
}

.btn__slider--left::before {
	background-image: url('../img/Arrow-left.svg');
}

.btn__slider--right::before {
	background-image: url('../img/Arrow-right.svg');
}


.slick-arrow {
	position: absolute;
	width: 60px;
	height: 60px;
	border: none;
	background: none;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0;
	z-index: 100;
	opacity: 0.6;
}

.slick-prev {
	background-image: url('../img/Arrow-left.svg');
	top: 50%;
	left: 0;
	transition: .3s;
}

.slick-prev:hover,
.slick-next:hover {
	opacity: 1;
}

.slick-next {
	position: absolute;
	top: 50%;
	right: 0;
	background-image: url('../img/Arrow-right.svg');
	transition: .3s;
}

.btn__slider--right {
	margin-left: auto;
}

.product {
	padding: 60px 0;
}

.product__row-one {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.product__row__one-item {
	background-repeat: no-repeat;
	width: 50%;
	padding: 60px 0 80px 45px;
	border-radius: 10px;
}

.product__row__one-item:nth-child(1) {
	background-image: url('../img/item-2.jpg');
	margin-right: 30px;
}

.product__row__one-item:nth-child(2) {
	background-image: url('../img/item-1.jpg');
}

.product-row__title {
	max-width: 220px;
	font-weight: bold;
	font-style: 25px;
	line-height: 30px;
	color: #262d33;
	margin-bottom: 15px;
}

.color-while {
	color: #fff;
}

.product-row__desc {
	max-width: 175px;
	margin-bottom: 25px;
}

.btn__product {
	background-image: url('../img/Arrow.svg');
	background-repeat: no-repeat;
	background-position: right 15px center;
	padding-right: 40px;
}

.product__row-two {
	display: flex;
	margin-bottom: 30px;
}

.bruh {
	max-width: 860px;
	background-color: #CCD5E6;
	width: 100%;
	background-image: url(../img/bruh.png);
	background-repeat: no-repeat;
	background-position: right 60px center;
	border-radius: 10px;
}

.product__row__two-item {
	width: 50%;
	padding: 55px 0 80px 45px;
}

.color-red {
	color: #FFC4C9;
}

.product-row__two-desc {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 20px;
	align-items: center;
	width: 100%;
}


.women-moment {
	max-width: 272px;
	width: 100%;
	background-color: #FF4F52;
	background-image: url(../img/women.png);
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 10px;
	margin-left: 25px;
}

.women-row{
	width: 100%;
	padding-top: 35px;
	padding-left: 25px;
	padding-bottom: 0;
}


.new-top {
	display: flex;
	justify-content: space-between;
}

.new__top-right{
	color: #262D33;
}

.new__top-right:hover{
	text-decoration: underline;
}

.new__items {
	display: flex;
	justify-content: space-between;
	margin: 30px 0 70px;
}

.new__item{
	transition: .3s;
}

.new__item:hover{
	transform: translateY(-20px);
}

.new__img {
	margin-left: 37px;
	position: relative;
	margin-right: 36px;
}

.new-item {
	max-width: 263px;
	width: 100%;
}




.new__content-text {
	text-align: center;
	max-width: 263px;
	width: 100%;
}

.tag__new {
	position: absolute;
	font-size: 12px;
	margin-left: 18px;
}

.new-text,
.new__price {
	text-align: center;
}

h5 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #262D33;
}

.new-txt {
	color: #4B5157;
	margin: 5px 0 20px 0;
}

.new__price {
	color: #262D33;
}

/* footer */

.footer {
	background-color: #8F79D4;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #D8BFFF;
	padding: 45px;
}

.nav__footer-items {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav__footer-item {
	font-size: 14px;
	line-height: 20px;
}

.nav__footer-item a {
	color: #fff;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	max-width: 453px;
	width: 100%;
}

.footer__massage,
.footer__copyright {
	color: #E7D9FF;
}

.follow {
	display: flex;
	max-width: 200px;
	width: 100%;
	justify-content: space-between;
}

.footer__massage {
	margin-right: 30px;
}

.massage__img {
	padding-right: 18px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
}

.pay {
	max-width: 365px;
	width: 100%;
}

.botton {
	display: flex;
	align-items: center;
}

.botton p {
	margin-right: 15px;
	color: #fff;
}

.botton__footer {
	cursor: pointer;
}

.pay-img:not(:last-child) {
	margin-right: 25px;
}

.footer a:hover{
	color: rgb(184, 184, 184);
}

.social-link{
	transition: .3s;
}

.social-link:hover{
	transform: translateY(-10px);
}